<div class="card team-card" style="width: 18rem">
    <div class="card-header">
      <h2 class="card-title">Han Solo</h2>
      <h3 class="card-title"><i class="fas fa-glasses"></i>Falcon Engineer</h3>
    </div>

    <div class="card-body"></div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: 999</li>
        <li class="list-group-item">Email: <a href="mailto: solo@millenium.com">solo@millenium.com</li>
        <li class="list-group-item">GitHub: <a href="https://github.com/Chewie-Git"></a>Chewie-Git</li>
        </ul>
    </div>
  </div>